* {
  margin: 0;
  border: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  width: 100%;
  background: linear-gradient(90deg, #2bb7da 0%, #33d35e 100%);
  color: #ffffff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

}
header h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
body section {
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f5f7;
  margin-top: 50px;
  width: 600px;
  height: 700px;
  gap: 80px;
}
body .container h2 {
  font-size: 40px;
  font-weight: 400;

}

body .container p{
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
}

body .container input {
  width: 400px;
  height: 45px;
  background-color: #d9d9d9;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
}

body .container button {
  display: flex;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(90.18deg, #31d35c 0.15%, #2bb7da 99.85%);
  box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
  border-radius: 9999px;
  padding: 12px 32px;
  margin-bottom: -75px;
  cursor: pointer;
}

body .container a{
  text-decoration: none;
  padding: 10px;
  color: #2d314e;
}

body .container a:hover{
  color: #31d35c;
}
footer {
  background-color: #2d314e;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 55px;
  text-decoration: none;
  justify-content: space-around;
  color: white;
}
