*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Public Sans', sans-serif;
    right: 0px;
}
a
{
    text-decoration: none;
    color: gray;
}
.começo
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 1365px;
    padding-bottom: 100px;
    overflow: hidden;
    border: 0px;
    background-color: white;
}
.title
{
    position: absolute;
    width: 139px;
    height: 20px;
    left: 30px;
    top: 40px;
    margin: 0px;
}
.links
{
    position: absolute;
    left: 500px;
    margin-top: 20px;
    top: 20px;
    text-align: center;
    word-spacing: 20px;
    color: gray;
}
.linkhome:hover
{
    color: black;
    text-decoration: underline 3px ;
    text-decoration-color: #31D35C;
    text-underline-position: under;
}
.linkabout:hover
{
    color: black;
    text-decoration: underline 3px ;
    text-decoration-color: #31D35C;
    text-underline-position: under;
}
.linkcontact:hover
{
    color: black;
    text-decoration: underline 3px ;
    text-decoration-color: #31D35C;
    text-underline-position: under;
}
.linkblog:hover
{
    color: black;
    text-decoration: underline 3px ;
    text-decoration-color: #31D35C;
    text-underline-position: under;
}
.linkcareers:hover
{
    color: black;
    text-decoration: underline 3px ;
    text-decoration-color: #31D35C;
    text-underline-position: under;
}
.button 
{
    position: absolute;
    width: 175px;
    height: 40px;
    left: 1160px;
    top: 30px;
    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
    border-radius: 9999px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;

}
.button:hover
{
    opacity: 0.9;
}
.desc
{
    position: absolute;
    top: 150px;
    font-size: 60px;
    left: 100px;
    font-weight: bold;
}
.desct
{
    position: absolute;
    top: 340px;
    font-size: 18px;
    left: 100px;
    width: 500px;
    color: gray;
}
.button2
{
    position: absolute;
    width: 174px;
    height: 43px;
    left: 100px;
    top: 450px;

    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
    border-radius: 9999px;
    color: white;
    border: none;
    font-weight: bold;
    width: 200px;
    height: 50px;
    font-size: 15px;
}
.button2:hover
{
    opacity: 0.9;
}
.image
{
    position: absolute;
    top:80px;
    left: 700px;
    height: 850px;
    width: 665px;
    object-fit: cover;
    object-position: left;
}
.desc2
{
    position: absolute;
    top: 800px;
    font-size: 30px;
    left: 100px;
    font-weight: bold;
}
.desct2
{
    position: absolute;
    top: 870px;
    font-size: 15px;
    left: 100px;
    font-size: 15px;
}
.buttons3
{
    position: absolute;
    word-spacing: 275px;
}
.linkwhy
{
    color: black;
}
.bwhy
{
    width: 50px;
    margin-bottom: 10px;
}
.why1
{
    word-spacing: 2px;
    position: absolute;
    top: 970px;
    left: 100px;

}
.why2
{
    word-spacing: 2px;
    position: absolute;
    top: 970px;
    left: 400px;
}
.why3
{
    word-spacing: 2px;
    position: absolute;
    top: 970px;
    left: 700px;
}
.why4
{
    word-spacing: 2px;
    position: absolute;
    top: 970px;
    left: 1000px;
    overflow: hidden;
    width: 300px;
}
.meiofim
{
    position: absolute;
    top: 1200px;
    left: 100px;
    font-size: 30px;
    box-sizing: border-box;
    padding-bottom: 400px;
}
.foto1
{
    width: 500px; 
    height: 150px; 
    object-fit: cover;
    object-position: 50% 50%; 
    padding-left: 150pxpx;
    border-radius: 10px;
}
.foto2
{
    width: 500px; 
    height: 150px; 
    object-fit: cover;
    object-position: 50% 50%; 
    border-radius: 10px;
}
.fotos
{
    padding-left: 75px;
}
.less
{
    position: absolute;
    left: 0px;
    top: 175px;
    background: #2D314E;
    border-radius: 12px;
    border: none; 
    width: 50px;
    height: 50px;  
    color: white;
}
.great
{
    position: absolute;
    top: 175px;
    left: 1110px;
    background: linear-gradient(180deg, #33D35E -76.52%, #2BB7DA 107.58%);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
}
.noticias1
{
    float: left;
    position: absolute;
    left: 75px;
    padding-bottom: 0px;
    top: 280px;
}
.noticiast
{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.noticias2
{
    float: left;
    position: absolute;
    left: 580px;
    top: 280px;
    
}
.noticiast2
{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.t1
{
    padding-top: 0px;
    font-size: 20px;
    margin: 0px;
    color: gray;
}
.t2
{
    padding-top: 0px;
    font-size: 20px;
    margin: 0px;
    color: gray;
}
.author
{
    margin: 0px;
    color: gray;
}
.fim
{
    position: absolute;
    background-color: #2D314E;
    padding-left: 1365px;
    padding-bottom: 200px;
    overflow: hidden;
    box-sizing: border-box;
    top: 1800px;
    border: 0px;
    left: 0px;
}
.social
{
    position: absolute;
    top: 110px;
    left: 50px;
    word-spacing: 10px;
}
.links2
{
    color: white;
    position: absolute;
    left: 400px;
    top: 40px;
    width: 200px;
}
.linkau:hover
{
    color: #31D35C;
}
.linkcon:hover
{
    color: #31D35C;
}
.linkb:hover
{
    color: #31D35C;
}
.linkca:hover
{
    color: #31D35C;
}
.linksup:hover
{
    color: #31D35C;
}
.linkpri:hover
{ 
    color: #31D35C;
}
.links3
{
    color: white;
    position: absolute;
    left: 700px;
    top: 40px;
    width: 200px;
}
.logo
{
    position: absolute;
    left: 50px;
    top: 50px;
}
.buttons4
{
    position: absolute;
    left: 1050px;
    top: 50px;
    transition: opacity 0.15;
    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
    border-radius: 9999px;
    color: white;
    border: none;
    font-weight: bold;
    width: 200px;
    height: 50px;
    font-size: 15px;
}
.buttons4:hover
{
    opacity: 0.9;
}
.text
{
    position: absolute;
    right: 90px;
    top: 100px;
    color: white;
}
