* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Public Sans', sans-serif;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    background-color: #FFFFFF;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 2px;
    }
    
    header .logo span {
        margin-bottom: 2px;
    }


header a {
    font-weight: 900;
    font-size: larger;
}


header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    text-decoration: none;
    color: #777777;
    font-weight: 300;
}

header nav a.active {
    color: #000000;
    font-weight: 500;
}

header nav a::after {
    content: '';
    display: none;
    width: 100%;
    height: 4px;
    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    margin-top: 13px;
   
}


header nav a.active::after {
    display: block;

}

header nav a:hover::after {
    display: block;
}

header a.botao {
    display: flex;
    font-weight: 400;
    margin-top: 15px;
    text-decoration: none;
    color: #FFFFFF;
    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
    border-radius: 9999px;
    padding: 12px 32px;
}


#home {
    display: flex;
    justify-content: space-between;
    background-color: #FDFDFD;
}

 #home div{
    display: flex;
   flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 padding: 0px;
 gap: 32px;
 padding: 128px;

}

 #home h1{
    font-size: 54px;
    font-weight: lighter;
    color: #2D314E;
}

#home p{
    font-size: 24px;
    font-weight: thin;
    color: #777777;
}



section{
    background-color: #F4F5F7;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

section img{
    max-height: 528px;
}
#about div{
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 128px;
    gap: 32px;

}
#about p{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #777777;

   
}

#about h2{
    color: #2D314E;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
}

#reasons{
    background-color: #F4F5F7;
    justify-content: space-between   ;
    align-items: center;
    display: flex;
    padding: 128px;
}

#reasons h3{
    color: #2D314E;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
}

#reasons p{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #777777;
    max-width: 512px;

}

#news{
    background-color: #fafafa;
    display: flex;
    align-items: start;
}

#news h2{
    color: #2D314E;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;
    padding: 128px 0 0 128px;

}

#news .article_wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    padding: 277px 120px;
}


#news .article_wrapper div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#news .article_wrapper div > article{
    background-color: #FFFFFF;
}

#news div h3{
    color: #2D314E;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    max-width: 425px;
    padding: 12px;
    margin-bottom: 10px;
}

#news div p{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #777777;
    max-width: 425px;
    padding: 12px;
    margin-bottom: 10px;
}

#news div a{
    font-weight: 400;
    margin-top: 15px;
    text-decoration: none;
    color: #FFFFFF;
    background: linear-gradient(90.18deg, #31D35C 0.15%, #2BB7DA 99.85%);
    box-shadow: 0px 0px 16px rgba(51, 211, 94, 0.5);
    border-radius: 9999px;
    padding: 12px 32px;

}
footer {
    background-color: #2D314E;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 128px;
    text-decoration: none;
}

footer a.logo {
 font-size: larger;
    font-weight: bolder;
    display: flex;
    color: #000000;
 
}

footer a.logo span{
    margin-bottom: 2px;
}

